@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One&family=Sriracha&display=swap');

:root{
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;

}

*{
margin: 0px;
padding: 0px;
}
body{
min-height: 100vh; 
font-family: var(--fonte1);
}
header{
background-color: rgba(0, 0, 0, 0.882);
color: white;
text-align: center;
}
h1{
padding-top: 50px;
font-variant: small-caps;
font-family: var(--fonte2);
font-size: 3em;
margin-bottom: 10px;
font-size: 7vw;
}
header > p{
padding-bottom:50px ;
font-size: 2vw;
}
a{
color: white;
text-decoration: none;
font-weight: bolder;
}

.imagem > p {
background-color: rgba(0, 0, 0, 0.502);
display: inline-block;
padding: 10px;
text-shadow:1px 1px 0px  rgba(0, 0, 0, 0.476);
}

section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height:2em;
padding-left: 30px;
font-family: var(--fonte3);
font-size: 3vw;
}
section > p{
padding-bottom: 50px;


}
a:hover{
text-decoration: underline;
}
.normal{
background-color: white;
color: black;
}
.imagem {
  background-color: blue; 
  color: white; 
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.57);
  background-size: cover ;
  background-attachment:fixed;
}

#img01{
background-image: url(/imagens/background001.jpg);
background-position: right center;

}
#img02{
background-image: url(/imagens/background002.jpg);
background-position: right center;

}

footer{
background-color: black;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}






















































































